relaciones1_2/relacion2/act7/cine.dtd

<!ELEMENT cartelera (pelicula+)>
<!ELEMENT pelicula (titulo, titulo_original?, nacionalidad, genero, (clasificacion | sin_clasificar)?, sinopsis, director, reparto, web?, cartel?)>
<!ATTLIST pelicula codigo ID #REQUIRED duracion CDATA #IMPLIED anyo CDATA #IMPLIED>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT titulo_original (#PCDATA)>
<!ELEMENT nacionalidad (#PCDATA)>
<!ELEMENT genero (#PCDATA)>

<!ELEMENT clasificacion EMPTY>
<!ATTLIST clasificacion edad CDATA #IMPLIED>
<!ELEMENT sin_clasificar EMPTY>

<!ELEMENT sinopsis (#PCDATA)>
<!ELEMENT director (#PCDATA)>

<!ELEMENT reparto (actor+)>
<!ELEMENT actor (#PCDATA)>

<!ELEMENT web (#PCDATA)>
<!ELEMENT cartel (#PCDATA)>
